*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.root{    
}

/*navbar ka kam*/
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav {
    width: 50%;
}

.navlinks ul{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 20px;
    color: aliceblue;
    align-items: center;
}

.navlinks ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.btn{
    background-color: #007bff; 
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease, transform 0.2s ease; /*is se butter ki trhn upr jaega hovr pr*/
}

.btn:hover{
    background-color: #0056b3;
    transform: translateY(-2px); /*is se button uper ki trf hojata ha click per*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /*nichy shadow ajaega click pr */
}
.btn:active {
  transform: translateY(0); /*btn bounce hoga click per */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}


/* yahan se pehla hero section start hai */
.container1 {
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding:100px 0px ;
    gap: 40px;
}
.container1 .heading1 {
    color: rgb(100, 89, 89);
    font-size: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-img{
    width: 35%;
    position: relative;
}
.img{
    width: 100%;

}
/*feature wala box start*/
.features{
    background-color: rgb(236, 232, 228);
    padding: 80px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.content{
    width:40% ;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*2nd hero box start*/
.container2 {
    background-color: rgb(236, 232, 228);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    padding:100px 0px ;
    gap: 40px;
}
.container2 .heading2 {
    color: rgb(100, 89, 89);
    font-size: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-img2{
    width: 35%;
    position:relative;
}
.img2{
    width: 100%;
   
}
/*4th hero box start*/
.container4 {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding:100px 0px ;
    gap: 40px;
}
.container4 .heading4 {
    color: rgb(100, 89, 89);
    font-size: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-img4{
    width: 35%;
     position: relative;
}
.img4{
    width: 100%;
   
}
/*3rd hero box start*/
.container3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    padding:100px 0px ;
    gap: 40px;
}
.container3 .heading3 {
    color: rgb(100, 89, 89);
    font-size: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-img3{
    width: 35%;
    position: relative;
    display: flex;
}
.img3{
    width: 100%;
    
}


.backpic1{
    background-color: #007bff;
    width: 100%;
    height:15rem;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    position: absolute;
    right: 0;
    top: 53%;
    z-index:-1;
}
.backpic2{
    background-color: #007bff;
    width: 100%;
    height: 15rem;
    position: absolute;
    border-top-right-radius: 9999px;
    border-bottom-right-radius:9999px ;
    left: 0; 
    top: 53%;
    z-index: 0;

}
.backpic3{
    width: 100%;
    background-color: #007bff;
    height: 15rem;
    position: absolute;
    right: 0;
    border-top-left-radius: 9999px;
    border-bottom-left-radius:9999px ;
    /* z-index: -1; */
    top: 53%;
}
.download{
    width: 100%;
    background-color: white;
    padding: 80px 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.content2{
    padding: 40px;
} 
.download h1{
    padding: 40px;
}

.full-box{
    width: 100%;
    background-color: white;
    padding: 50px;
}
.box-container{
    background-color: white;
    gap: 30px;
    display: flex;
    width: 80%;
    padding: 90px  ;
}
.box{
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
    min-width: 300px;
    padding: 15px;
    text-align: center;
    gap: 40px;
}
h3{
    color: darkgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.asked-box{
    background-color: rgb(236, 232, 228);
    padding: 80px 40px;
    text-align: center;
    display: ;
    justify-content: center;
    gap: 25px;
}
.asked{
    width:100% ;
    gap: 25px;
}
.para{
    width: 50%;
}

.features1{
    width: 100%;
    background-color: rgb(236, 232, 228);
    padding: 80px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.content1{
    width:40% ;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.faq-container {
  width: 500px;
  padding: 40px;
  text-align: center;
}

details {
  border-bottom: 1px solid #eee;
  text-align: left;
}

summary {
  list-style: none;
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 18px;
}


summary .arrow::after {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  transform: rotate(45deg);
  display: inline-block;
}

details[open] summary .arrow::after {
  transform: rotate(-135deg);
}

.content {
  padding: 10px 0 20px;
  color: #777;
}

.more-info {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 16px;
}

.more-info:hover {
  background-color: rgb(43, 43, 121);
}
/*container5 start*/
.container5{
    background-color: #2162a9;
    color: white;
    text-align: center;
    padding: 70px;
    width: 100%;
}
input{
    width: 800px;
    padding: 15px;
    border: 1px solid rgb(20, 18, 18);
}
.content5{
    width: 100%;
}
.container5 h3{
    padding: 20px;   
}
.container5 h1{
    padding: 30px;
}
/*last container start*/
.last-container{
    background-color: #041324;
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.navlinks1 ul{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 20px;
    color: aliceblue;
    align-items: center;
}

.navlinks1 ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}






/* mobile ke liay queries */

@media screen and (min-width:0px) and (max-width:480px) {
   
   
}


/* taplet ke liay queries */
@media screen and (min-width:481px) and (max-width:768px) {
 .container1{
        flex-direction: column-reverse;
        padding: 20px 30px;
    }
    .container1 .heading{
        width: 70%;
        text-align: center;
    }
    .hero-section .hero-img .img{
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:) {
     .container1{
        flex-direction: column-reverse;
        padding: 20px 30px;
    }
    .container1 .heading{
        width: 100%;
        text-align: center;
    }
    .hero-section .hero-img .img{
        width: 100%;
    }
}